

.page-container {
    margin-top: 90px;
    padding: 20px; 
}

.content-container {
    margin: 0 auto; 
    max-width: 600px; 
}

.container {
    background-color: #D6D6D6;
    border-radius: 3%;
    padding: 20px;
}

.MyBtns {
    margin-right: 0;
    margin-top: 5px;
    background-color: #D6D6D6;
    border-radius: 3%;
    padding: 10px;
    justify-content: flex-end; 
}

.form-group, label{
    background-color: #D6D6D6;

}
#signup{
    border-radius: 10px;
    width: 320px;
    height: 96px;
}
#login{
    margin-top: 5px;
    border-radius: 10px;
    width: 320px;
    height: 25px;
}

div.text-center{
    background-color: #D6D6D6;
}
