.page-containerLogin {
    background-color: #EEE9E3;
    /* padding: 20px;  */
    
}

.content-containerLogin {
    margin: 0 auto; 
    max-width: 600px; 
}

.myform {
    background-color: #EEE9E3;
    border-radius: 3%;
    padding: 20px;
}

.MyBtnsLogin {
    background-color: transparent;
    padding: 10px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#champtxt1{
    border-radius: 12px;
    height: 37px;
    border: none;
    display: flex;
}
#champtxt2{
    border-radius: 12px;
    height: 37px;
    border: none;
    display: flex;
}

.labelstuff{
    background-color: #EEE9E3;

}
#login{
    border-radius: 36px;
    width: 267px;
    height: 52px;
    font-weight: bold;
    font-size: 36px;
    font-family:  sans-serif;
    background-color: #75F5A8;
    border-color: transparent;
    margin-bottom: 10px;


}
#signup{
    border-radius: 10px;
    width: 310px;
    height: 25px;
    font-size: 13px; 
    font-family:  sans-serif;
    font-weight: bold;
    background-color: #F9F9F9;
    border-color: transparent;
}

div.text-center{
    background-color: transparent;
}


.BtnLogin {
    border-radius: 10px;
    width: 100%; 
    height: 50px; 
    font-weight: bold;
    font-size: 18px; 
    font-family: sans-serif;
    margin-top: 5px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

@media (min-width: 2561px) { 
    .MyBtnsLogin {
        flex-direction: row; 
        justify-content: space-between; 
    }

    .BtnLogin {
        width: calc(50% - 5px); 
    }
}

@media (max-width: 767px) { 
    .BtnLogin {
        width: 60%; 
        max-width: 320px; 
    }
}
