.homepage{
    background-color: #EEE9E3;
    /* height: calc(100vh - 36px); */
    height: 100vh;
}
.topics{
    margin-top: 50px;
}
.topic{
    margin-bottom: 50px;
    font-family: 'Montserrat';
    margin-left: 100px;
    color: #0B1215;
}


#hometitle{
    margin-top: 15px;
    text-align: center;
}


.horizontal-lineAbout {
    position: relative;
    margin-top: 10px; 
}

.horizontal-lineAbout::before {
    content: '';
    position: absolute;
    /* left: -4.1%;  */
    margin-left: -13px;
    left: -0.1%; 
    top: 74.59%;
    width: 2px; 
    height: calc(100% - -200px); 
    background-color: #0B1215; 
    transform: translateY(-50%) rotate(-90deg); 
}

.horizontal-lineCourses {
    position: relative;
    margin-top: 10px; 
}

.horizontal-lineCourses::before {
    content: '';
    position: absolute;
    /* left: -4.1%;  */
    margin-left: -8.3px;
    left: 0%; 
    /* top: 74.86%; */
    top: 73%;
    width: 2px; 
    height: calc(100% - -200px); 
    background-color: black; 
    transform: translateY(-50%) rotate(-90deg); 
}
.horizontal-lineQuizz {
    position: relative;
    margin-top: 10px; 
}

.horizontal-lineQuizz::before {
    content: '';
    position: absolute;
    /* left: -4.1%;  */
    margin-left: -8px;
    left: 0%; 
    top: 74.86%;
    width: 2px; 
    height: calc(100% - -200px); 
    background-color: black; 
    transform: translateY(-50%) rotate(-90deg); 
}


.horizontal-lineProfile {
    position: relative;
    margin-top: 10px; 
}

.horizontal-lineProfile::before {
    content: '';
    position: absolute;
    /* left: -4.1%;  */
    margin-left: -11px;
    left: -0.1%; 
    top: 74.59%;
    width: 2px; 
    height: calc(100% - -200px); 
    background-color: #0B1215; 
    transform: translateY(-50%) rotate(-90deg); 
}