.course-content-page {
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF;
    color: #333333;
    margin: auto;
    position: relative;

    display: flex;
    flex-direction: column;
}

.course-content-container {
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.course-content-title {
    color: #333;
}

.course-content-description {
    margin-bottom: 32px;
}

.course-content-actions {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.course-content-button {
    padding: 10px;
    margin: 8px 0;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    text-align: center;
    width: 47vw;
    background-color: #50C878;
}

.course-content-button:first-child {
    background-color: #50C878;
}

.course-content-buttons-triangle {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.button-left,
.button-right {
    position: absolute;
    top: -60px;
}

.button-left {
    left: 20px;
}

.button-right {
    right: 20px;
}

.button-center {
    background-color: #50C878;
    margin: 0 auto;
}

.course-content-back {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
